body {
    text-align: center;
    font-family: monospace;
    margin-bottom: 50px;
}

#file-label {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #a0a0a0a0;
    background: #fafafa;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    transition: 0.1s ease-out;
}
#file-label:hover {
    background: #eaeaea;
    border-color: #fafafa;
}

#file {
    display: none;
}

.settings-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    margin: 10px 0;
}
.label-container label {
    margin: 0 10px;
}

#previewImg {
    max-width: 80%;
    max-height: 80vh;
    margin: 0 auto;
}

#asciiOutput {
    font-size: 0.6em;
    line-height: 1.1em;
    display: inline-block;
    margin: 0;
}

input[type="range"] {
    -webkit-appearance: none !important; /*Needed to reset default slider styles */
    height: 0.4em;
    background: #afafaf;
    border: 1px solid #909090;
    border-radius: 20px;
    transition: all 0.3s ease;
}

input[type="range"]:hover {
    background-color: #d6d6d6;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background: #2f2f2f;
    border-radius: 30px;
    box-shadow: 0px 0px 3px darken(darkgreen, 15%);
    transition: all 0.5s ease;
}
